name: Update nuget dependencies
on: 
  schedule:
    - cron: '0 8 * * 5' # every friday AM 8:00


jobs:
  build:
    name: "Update all nugets to latest version"
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
      with:
        dotnet-version: 5.0.x
    - name: Install dependencies
      run: dotnet restore

    - name: update packages
      uses: bchir/update-nuget@V1.0.0
      with:
        searchFor: 'outdated'
        versionToSelect: 'latest'
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
      with:
        title: "Updated nuget dependencies"
        reviewers: tjololo
        labels: dependencies